{% extends 'baseLayout.html' %}

{% block content %}
<div class="colM" id="content">
	<h1>The Detail View</h1>
	<h2>Your Voice Matters!</h2>
	<hr>
	<br>

	<h3>{{ question.question_text }}</h3>

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'polls:vote' question.id %}" method="post">
		{% csrf_token %}
		{% for choice in question.choice_set.all %}
			<input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
			<label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
		{% endfor %}
		<br>
		<input type="submit" value="Vote">
	</form>

	<br>

	<div>

		{% if question.id > 1  %}<p><a href="{% url 'polls:detail' question.id|add:'-1' %}">Previous</a></p>{% endif %}

		{% if Question_list|length > question.id %}<p><a href="{% url 'polls:detail' question.id|add:'1' %}">Next</a></p>{% endif %}

	</div>

	<br class="clear">
	</br>
</div>
{% endblock content %}
